<include file="./Application/admin/View/public/header.html"/><!--公共头部-->
<include file="./Application/admin/View/public/left.html"/><!--左边菜单-->
<link href="/Public/common/css/page.css" rel="stylesheet" type="text/css"/>
<!-- Right side -->
<div id="rightSide">
    <!-- Top fixed navigation -->
    <include file="./Application/admin/View/public/right_top.html"/>
    <!--右上bar-->
    <!-- Main content wrapper -->
    <div class="wrapper">
        你不具备该权限
    </div>
</div>
<include file="./Application/admin/View/public/footer.html"/><!--底部-->