<!DOCTYPE html>
<html lang="en">
<head>

    <!-- start: Meta -->
    <meta charset="utf-8">
    <title>后台管理系统</title>
    <meta name="description" content="后台管理系统">
    <meta name="author" content="Yang jing qin">
    <meta name="keyword" content="Metro, Metro UI, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <!-- end: Meta -->
    <include file="./Application/Admin/View/Public/header.html"/>
    <script type="text/javascript" src="__PUBLIC__/common/js/date/WdatePicker.js"></script>
</head>

<body>
<!-- start: Header -->
<include file="./Application/Admin/View/Public/right_top.html"/><!--头部-->

<div class="container-fluid-full" style="height: 600px;overflow: auto" >
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <include file="./Application/Admin/View/Public/left.html"/><!--左边菜单-->
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="#">首页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href="#">后台用户管理</a><i class="icon-angle-right"></i></li>
                <li><a href="#">用户列表</a></li>
            </ul>

            <div class="panel-body">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>用户名</th>
                        <th>真实姓名</th>
                        <th>上次登录时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <foreach name="data"  item="vo">
                    <tr>
                        <td>{$vo.user_name}</td>
                        <td>{$vo.real_name}</td>
                        <td>{$vo.last_login_time}</td>
                        <td>
                            <if condition="$Think.cookie.admin_name eq 'admin' || $Think.cookie.admin_name eq $vo.user_name " >
                            <a href="{$Think.config.INDEX_MODE}/admin/user/editInfo.html?id={$vo.id}"><span class="badge badge-success">修改资料</span></a>&nbsp;
                            </if>
                            <if condition="$Think.cookie.admin_name eq 'admin' || $Think.cookie.admin_name eq $vo.user_name " >
                            <a href="{$Think.config.INDEX_MODE}/admin/user/editPwd.html?id={$vo.id}"><span class="badge badge-info">修改密码</span></a>&nbsp;
                            </if>
                            <if condition="$Think.cookie.admin_name eq 'admin' &&  $vo.user_name neq 'admin' " >
                            <span class="badge label-important" style="cursor: pointer" onclick="delUser({$vo.id})" >删除</span>&nbsp;
                            </if>
                        </td>
                    </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
            <div  style="float: right" class="sabrosus">{$page}</div>
        </div><!--/.fluid-container-->
        <!-- end: Content -->
    </div><!--/#content.span10-->
</div>
<include file="./Application/Admin/View/Public/footer.html"/><!--底部-->

</body>
</html>
<script>
    function delUser(id){
        if(!confirm('您确定要删除该用户吗？')){
            return false;
        }
        MyPost(INDEX_MODE+'/admin/user/del',
                {
                    id: id
                },
                null,
                null,
                function (data) {
                    window.location.reload();
                },
                function (data, msg, code) {
                    alert(msg);
                }
        );
    }
</script>